h1 {
    background-color: #b08989;
    color: white;
    width: 400px;
}

body {
    background: wheat;
}



.lasagna-image {
    width: 200px;
    border-radius: 50%;
}

.lasagna {

    width: 200px;
    height: 200px;
}