h1 {
    background-color: #b08989;
    color: white;
}

body {
    background: wheat;
}

ul {
    background:lightyellow;
    line-height: 2rem;
    margin:0px;
    padding:10px;
    width:400px;
    list-style-type: none;
    text-align: center;
}