h1 {
    text-align: center;
    background-color: #b08989;
    color: white;
}

body {
    background: wheat;
}

.box {
    background-color: antiquewhite;
    width: 250px;
    height: 450px;
    border: 5px solid #b08989;
    text-align: center;
    display: inline-block;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #b08989;
    display: block;
    margin: auto;
    position: relative;
    top: 10px;
}

.link {
    font-size: 20px;
    position: relative;
    top: 20px;
}

.text {
    background-color: whitesmoke;
    font-size: 15px;
    position: relative;
    top: 20px;
    padding: 20px;
}